[submodule "resource/user/.oh-my-zsh"]
	path = resource/user/.oh-my-zsh
	url = https://github.com/robbyrussell/oh-my-zsh.git
[submodule "resource/user/.oh-my-zsh-custom/themes/powerlevel9k"]
	path = resource/user/.oh-my-zsh-custom/themes/powerlevel9k
	url = https://github.com/bhilburn/powerlevel9k.git
[submodule "resource/user/.oh-my-zsh-custom/plugins/zsh-syntax-highlighting"]
	path = resource/user/.oh-my-zsh-custom/plugins/zsh-syntax-highlighting
	url = git://github.com/zsh-users/zsh-syntax-highlighting.git
[submodule "resource/system/usr/share/vim/vimfiles/pack/plugins/start/xptemplate"]
	path = resource/system/usr/share/vim/vimfiles/pack/plugins/start/xptemplate
	url = https://github.com/drmingdrmer/xptemplate.git
[submodule "resource/system/usr/share/vim/vimfiles/pack/plugins/start/vim-airline"]
	path = resource/system/usr/share/vim/vimfiles/pack/plugins/start/vim-airline
	url = https://github.com/vim-airline/vim-airline.git
[submodule "resource/system/usr/share/vim/vimfiles/pack/plugins/start/vim-airline-themes"]
	path = resource/system/usr/share/vim/vimfiles/pack/plugins/start/vim-airline-themes
	url = https://github.com/vim-airline/vim-airline-themes.git
[submodule "resource/system/usr/share/vim/vimfiles/pack/plugins/start/molokai"]
	path = resource/system/usr/share/vim/vimfiles/pack/plugins/start/molokai
	url = https://github.com/tomasr/molokai.git
[submodule "resource/system/usr/share/vim/vimfiles/pack/plugins/start/vim-indent-guides"]
	path = resource/system/usr/share/vim/vimfiles/pack/plugins/start/vim-indent-guides
	url = https://github.com/nathanaelkane/vim-indent-guides.git
[submodule "resource/system/usr/share/vim/vimfiles/pack/plugins/start/tagbar"]
	path = resource/system/usr/share/vim/vimfiles/pack/plugins/start/tagbar
	url = https://github.com/majutsushi/tagbar.git
[submodule "resource/system/usr/share/vim/vimfiles/pack/plugins/start/nerdtree"]
	path = resource/system/usr/share/vim/vimfiles/pack/plugins/start/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "resource/system/usr/share/vim/vimfiles/pack/plugins/start/vim-licenses"]
	path = resource/system/usr/share/vim/vimfiles/pack/plugins/start/vim-licenses
	url = https://github.com/antoyo/vim-licenses.git
