[submodule "resource/user/.oh-my-zsh"]
	path = resource/user/.oh-my-zsh
	url = https://github.com/robbyrussell/oh-my-zsh.git
[submodule "resource/user/.oh-my-zsh-custom/themes/powerlevel9k"]
	path = resource/user/.oh-my-zsh-custom/themes/powerlevel9k
	url = https://github.com/bhilburn/powerlevel9k.git
[submodule "resource/user/.oh-my-zsh-custom/plugins/zsh-syntax-highlighting"]
	path = resource/user/.oh-my-zsh-custom/plugins/zsh-syntax-highlighting
	url = git://github.com/zsh-users/zsh-syntax-highlighting.git
[submodule "resource/system/usr/share/vim"]
	path = resource/system/usr/share/vim
	url = https://github.com/mewiteor/my-vim-configure.git
